*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html {
    font-size: 16px;
    height: 100%;
    /* по умолчанию */
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

/* ------------------------------------------------------ */

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.header__wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.container {
    max-width: 846px;
    margin: 10px auto;
}

.shap {
    margin-top: 120px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.who {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 2.5px;
}

.logo {
    vertical-align: middle;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    max-width: 583px;
}

.text {
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 40px 0 80px 0;
}

.img {
    max-width: 100%;
    margin: -26px 0;
}